input {
    font-size: large;
    padding: 5px;
    margin: 5px;
    border-width: 0px 0px 1px 0px;
}

button {
    font-size: large;
    padding: 5px;
    margin: 5px;
    border-radius: .5rem;
    width: 50px;
}
