<form [formGroup]="todoForm" (ngSubmit)="add()">

  <input type="text"
    formControlName="task"
    required
    maxlength="50"
    autofocus
    placeholder="add todo">

  <input type="checkbox" formControlName="done">

  <button type="button" (click)="add()">add</button>

</form>

<pre>
  {{todoForm.value | json}}
</pre>
<ul>
  <li>status: [{{todoForm.status}}]</li>
  <li>valid: [{{todoForm.valid}}]</li>
  <li>invalid: [{{todoForm.invalid}}]</li>
  <li>touched: [{{todoForm.touched}}]</li>
  <li>pristine: [{{todoForm.pristine}}]</li>
  <li>dirty: [{{todoForm.dirty}}]</li>
</ul>
